.header {
	background-color: $color-grey-dark-1;
	grid-column: full-start / col-end 6;
	background-image: linear-gradient(
			rgba($color-secondary, 0.93),
			rgba($color-secondary, 0.93)
		),
		url(../img/hero.jpeg);
	background-size: cover;
	background-position: center;
	padding: 8rem;
	padding-top: 4rem;

	display: grid;
	// let logo occupy all the empty space
	grid-template-rows: 1fr min-content 6rem 1fr;
	grid-template-columns: max-content; // make all the rows follow the largest content's width
	row-gap: 1.5rem;
	justify-content: center; // center entire grid track inside the grid container

	&__logo {
		height: 3rem;
		justify-self: center;
	}

	&__btn {
		align-self: start;
		justify-self: start;
	}

	&__seenon-text {
		// make text and pseudo elements into grid item
		display: grid;
		// if use min content, the text will break into another line
		grid-template-columns: 1fr max-content 1fr;
		column-gap: 1.5rem;
		align-items: center;

		font-size: 1.6rem;
		color: $color-grey-light-2;

		&::before,
		&::after {
			content: "";
			height: 1px;
			display: block;
			background-color: currentColor; // take the current text color
		}
	}

	&__seenon-logos {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		column-gap: 3rem;
		// center each of them in their grid cell
		justify-items: center;

		img {
			height: 2.5rem;

			// make image a bit darker
			filter: brightness(70%);
		}
	}
}
